.head_div{
  margin-bottom: 0px; 
  float: left;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}
.head_title{
  font-size: 25px;
  color: #6f42c1;
  font-weight: 600;
}
.event_btn{
  padding: 8px 10px;
  background: #fff;
}
.text_cont{
  font-weight: 100 !important;
}
.portlet-content button{margin:0px 15px;}